{% extends 'base.html' %}
{% block title %}
    Employee 
{% endblock %}

{% block body %}
<header class="masthead">
    
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="display-4 font-weight-normal">Welcome Employee</h1>
                <a class="btn btn-primary" href="{{ url_for('employee_register_page') }}">Newly appointed Staff?</a>
                <a class="btn btn-primary" href="{{ url_for('employee_login_page') }}">Already have Account</a>
            </div>
        </div>
    </div>
</header>
{% endblock %}