{% extends 'base.html' %}

{% block title %}
Employee Register Page
{% endblock %}
 
{% block body %}
<header class="masthead">
    
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1>Enter Your Details here</h1>
            </div>
            <form method="POST" class="form-register" style="color:white" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="User Name") }}
                
                {{ form.password1.label() }}
                {{ form.password1(class="form-control", placeholder="Password") }}

                {{ form.password2.label() }}
                {{ form.password2(class="form-control", placeholder="Confirm Password") }}

                <h2 class="text-center">Upload You Image here</h2>
                <input type="file" name="file">
                <br>
                {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            </form>

        </div>
    </div>
</header>
{% endblock %}