{% extends 'base.html' %}
{% block title %}
Employee Login Page
{% endblock %}

{% block body %}
<header class="masthead">
    
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <form method="POST" class="form-signin" style="color:white">
                    {{ form.hidden_tag() }}
                    <h1 class="h3 mb-3 font-weight-normal">
                        Please Login
                    </h1>
                    <br>
                    {{ form.username.label() }}
                    {{ form.username(class="form-control", placeholder="User Name") }}
        
                    {{ form.password.label() }}
                    {{ form.password(class="form-control", placeholder="Password") }}
        
                    <br>
        
                    <div class="checkbox mb-3">
                       <h6>Do not have an account?</h6>
                       <a class="btn btn-sm btn-secondary" href="{{ url_for('employee_register_page') }}">Register</a>
                    </div>
        
                    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        
                </form>
            </div>
        </div>
    </div>
</header>
{% endblock %}