
{% extends 'base.html' %}
{% block title %}
    Customer 
{% endblock %}

{% block body %}
<header class="masthead">
    
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
            <h1 class="display-4 font-weight-normal">Welcome</h1>
            <h1 class="display-4 font-weight-normal">User</h1>

            <a class="btn btn-primary" href="{{ url_for('user_register_page') }}">Create Account</a>
            <a class="btn btn-primary" href="{{ url_for('user_login_page') }}">Already Have Account?</a>
            </div>
        </div>
    </div>
</header>
{% endblock %}