{% extends 'base.html' %}
{% block title %}
    Viewing Attendance
{% endblock %}

{% block body %}
<style>
table, th, td,thead,tbody {
  border: 1px solid white;
}
</style>

<header class="masthead">
    
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
          <div class="text-center">
            <h3>Attended Employees </h3>
            <table class="table table-striped table-sm"> 
                <thead>
                    <tr>
                      <th style="color: rgb(0, 183, 255);">Name </th>
                      <th style="color: rgb(0, 183, 255);">Time they Logged in</th>
                    </tr>
                  </thead>
                <tbody> 
                    
                  {% for value in myData%} 
                  <tr> 
                    <td style="color: rgba(252, 235, 0, 0.966)";>{{ value[0] }}</td> 
                    <td style="color: aliceblue;">{{ value[1] }}</td> 
                  </tr> 
                  {% endfor %} 
                </tbody> 
              </table>
          </div>
      </div>
  </div>
</header>
{% endblock %}